button img{
    width: 200px;
    height: 133px;
    border-radius: 8px;
}
.game-buttons button{
    border-radius: 8px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    
}
.game-buttons{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.reset{
    width: 100px;
    height: 50px;
}
.resetDiv{
    display: flex;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    
}

.score{
    font-size: 40px;
    margin-left: 60px;
    margin-bottom: 15px;
    display: flex;
    gap: 24px;
    align-items: center;
}
.rules{
    font-size: 24px;
}
.scoreNumber{
    font-size: 64px;
    font-weight: bold;
}
.title{
    font-size: 60px;
}